.code-editor-line-mktg {
  border-left: 2px solid #0d1117;
}

.pl-ent {
  color: #7ee787;
}

.pl-e,
.pl-en {
  color: #d2a8ff;
}

.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
  color: #a5d6ff;
}
