@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Mona Sans";
  src: url("./assets/mona-sans-d1bf285e9b9b.woff2");
  font-weight: 200 300 400 500 600 700 800 900;
}

html {
  scroll-behavior: smooth;
  font-family: "Mona Sans";
  overflow-x: hidden;
  width: 100vw;
}

.color-bg-default {
  background-color: #0d1117;
}

/* Default styles for larger screens */
.NavigationBarD {
  display: flex;
}

.NavigationBarM {
  display: none;
}

/* img {
  overflow-clip-margin: content-box;
  overflow: clip;
} */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}

.box {
  width: 100vw;
}

.butterfly {
  animation: bounce 5s ease-in-out infinite;
}

.dropdown-menu {
  display: none; /* Initially hide the dropdown menu */
}

.home-campaign-lines-hero {
  left: calc(50% - 14px);
  width: 437px;
  height: 643px;
  max-width: none;
}

@media (max-width: 768px) {
  .home-campaign-lines-hero {
    left: calc(50% - 12px);
    width: 290px;
    height: 428px;
    max-width: none;
  }
}

.container-xl {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

/* .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  width: 50%;
  height: 50%;
  top: 15rem;
} */

/* .hero-textArea {
  width: 65rem;
} */

.h0-mktg {
  font-feature-settings: "ss02" on, "ss01" on;
  font-weight: 700 !important;
  /* letter-spacing: -0.01em !important; */
  color: white;
  font-size: 48px !important;
  line-height: 52px !important;
  font-weight: 800 !important;
  font-weight: 600 !important;
  letter-spacing: -0.03em;
}

.f1-mktg {
  font-size: 24px !important;
  line-height: 44px !important;
  font-weight: 400;
  /* width: 80%; */
}

.home-campaign-glowing-icon {
  /* margin: 0 auto; */
}

.home-campaign-glowing-icon,
.home-campaign-glowing-icon-glow {
  transform: translateZ(0);
}

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: #ffffff;
}

.color-fg-muted {
  color: #ebf5ff80 !important;
}

.hero-form-container {
  display: block;
}

.hero-divider {
  display: none;
}

.home-campaign-signup-button {
  background: linear-gradient(
      180deg,
      rgba(183, 52, 179, 0.15) 0%,
      rgba(164, 46, 156, 0) 100%
    ),
    #6e40c9 !important;
  width: 100%;

  border-radius: 0.357rem;
  margin: 10rem 0;
  margin-top: 1rem;
}

.home-campaign-enterprise {
  width: 100%;
}

.btn-mktg {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0.9rem 1.5rem 1.1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    var(--color-mktg-btn-bg) !important;
  border: 0;
  border-radius: 0.375rem;
  transition: box-shadow 0.2s, outline 0.2s ease;
  appearance: none !important;
}

.btn-muted-mktg {
  color: white !important;
  background: none !important;
  box-shadow: rgba(255, 255, 255, 0.25) 0 0 0 1px inset;
}

.home-campaign-enterprise {
  box-shadow: #bc8cff 0 0 0 1px inset;
}

/* Default styles for smaller screens */

.hero-form {
  display: block;
}

.hero-form-input {
  width: 100%;
  border-radius: 0.357rem;
}

.color-fg-subtle {
  color: #6e7681;
}

.f4-mktg {
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 400;
}

.trusted-hero-img {
  width: 100%;
}

.trusted-hero-divider1 {
  width: 100%;
}

.trusted-hero-divider2 {
  display: none;
  width: 100%;
}

.trusted-hero-divider3 {
  width: 100%;
  display: block;
}

.build-in-scale-top.build-in-animate {
  transform: scaleY(1);
}

.build-in-scale-top {
  transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scaleY(0);
  transform-origin: 0 0;
}

.build-in-slideX-left.build-in-animate {
  opacity: 1;
  transform: translateX(0);
}

.build-in-slideX-left {
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1),
    transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateX(-15px);
}

.h5-mktg {
  font-size: 20px !important;
  line-height: 24px !important;
}

.h3-mktg {
  font-size: 28px !important;
  line-height: 32px !important;
  /* font-weight: 800 !important; */
}

.text-accent-primary {
  color: #7ee787;
}

/* Override styles for screens with a minimum width of 1000px or less */

@media (min-width: 200px) {
  .hero-imageArea {
    left: 1%;
  }

  .hero-textArea {
    left: 6%;
    width: 85%;
  }
}

@media (min-width: 375px) {
  .hero-imageArea {
    left: 3%;
  }

  .hero-textArea {
    left: 7%;
  }
}

@media (min-width: 425px) {
  .hero-imageArea {
    left: 5%;
  }

  .hero-textArea {
    left: 8%;
  }
}

@media (min-width: 550px) {
  .hero-imageArea {
    left: 7%;
  }

  .hero-textArea {
    left: 9%;
  }

  .f1-mktg {
    font-size: 24px !important;
    line-height: 32px !important;
    font-weight: 400;
    letter-spacing: -0.01em !important;
  }

  .trusted-hero-divider2 {
    display: block;
  }

  .trusted-hero-divider3 {
    display: none;
  }
}

@media (min-width: 650px) {
  .hero-imageArea {
    left: 8%;
  }

  .hero-textArea {
    left: 10%;
  }

  .trusted-hero-divider1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .hero-imageArea {
    left: 10%;
  }

  .hero-textArea {
    left: 12%;
    width: 80%;
  }

  .h0-mktg {
    font-size: 72px !important;
    line-height: 76px !important;
  }

  .f1-mktg {
    font-size: 28px !important;
    line-height: 40px !important;
    letter-spacing: -0.01em !important;
    /* width: 85%; */
  }

  .trusted-hero-divider2 {
    display: none;
  }

  .h3-mktg {
    font-size: 40px !important;
    line-height: 44px !important;
  }
}

@media (min-width: 868px) {
  .hero-form-container {
    display: grid;
    grid-template-columns: 55% 5% 40%;
    width: 100%;
  }

  .hero-form {
    display: flex;
    width: 100%;
  }

  .hero-divider {
    display: block;
  }

  .hero-imageArea {
    left: 12%;
  }

  .hero-textArea {
    left: 14%;
  }

  .hero-form-input {
    width: 100%;
    border-radius: 0.357rem 0 0 0.357rem;
  }

  .home-campaign-signup-button {
    width: 60%;
    border-radius: 0 0.357rem 0.357rem 0;
  }

  .trusted-hero {
    margin: 128px 0;
  }

  .trusted-hero-img {
    width: 91%;
  }

  .productivity-textArea {
    margin-bottom: 96px;
  }

  .h5-mktg {
    font-size: 24px !important;
    line-height: 28px !important;
    font-weight: 800 !important;
  }
}

@media (min-width: 900px) {
  .hero-imageArea {
    left: 15%;
  }

  .hero-textArea {
    left: 16%;
    width: 70%;
  }

  .f1-mktg {
    width: 65%;
  }
}

@media (min-width: 1000px) {
  .hero-form-container {
    width: 100%;
  }

  .h0-mktg {
    font-size: 96px !important;
    line-height: 100px !important;
  }

  .hero-imageArea {
    left: 17%;
  }

  .hero-textArea {
    /* left: 12%; */
    left: 18%;
    /* width: 50%; */
  }

  .f1-mktg {
    font-size: 32px;
  }

  .h3-mktg {
    font-size: 48px !important;
    line-height: 52px !important;
    letter-spacing: -0.03em !important;
  }
}

@media (min-width: 1200px) {
  .hero-form-container {
    width: 70%;
  }
}
