/* Use small image for screens up to 768px wide */
@media (max-width: 868px) {
  .screensize {
    background-image: url("./assets/images/hero-bg3.webp");
  }
}

/* Use large image for screens wider than 768px */
@media (min-width: 868px) {
  .screensize {
    background-image: url("./assets/images/hero-bg2.webp");
  }
}



/* Override styles for screens with a minimum width of 1000px or less */
@media (min-width: 0px) and (max-width: 1000px) {
  .NavigationBarD {
    display: none;
  }

  .NavigationBarM {
    display: block;
  }
}

@media (max-width: 768px) {
  .containerStyle {
    background-size: auto;
  }
}

@media (max-width: 768px) {
  .containerStyle {
    background-size: auto;
  }
}

/* <input
          placeholder="Email address"
          type="email"
          name="user_email"
          id="user_email"
          autocomplete="off"
          spellcheck="false"
        /> */
